<%- include("../../views/admin/partials/header") %>

<head>
    <style>
        /* Your existing CSS styles */
        .thumbnail-container {
            display: flex;
            align-items: flex-start;
            margin-bottom: 20px;
        }

        .thumbnail {
            width: 200px; /* Adjusted width */
            height: 200px; /* Adjusted height */
            border: 1px solid #ddd;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .thumbnail:hover {
            transform: scale(1.05);
        }

        .thumbnail img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .input-upload,
        .btn-container {
            margin-top: 10px;
            text-align: center;
        }

        .error-message {
            color: red;
            display: none;
        }

        .image-cropper-container {
            display: none;
            flex-direction: column;
            align-items: center;
            margin-left: 20px; /* Space between product image and cropper */
        }

        .image-cropper {
            width: 200px; /* Adjusted width for smaller card */
            height: 200px; /* Adjusted height for smaller card */
            border: 1px solid #ddd;
            border-radius: 8px;
            overflow: hidden;
        }

        .btn-sm {
            margin-top: 5px;
        }

        .cropper-container img {
            max-width: 100%;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cropperjs/dist/cropper.min.css">
</head>

<body>
    <section class="content-main">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content-header">
                        <h2 class="text-center mb-4" style="color:#fefffe; font-family: 'Poppins', sans-serif; font-size: 2.5rem; font-weight: 700; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); letter-spacing: 2px;">
                            EDIT PRODUCTS
                        </h2>
                    </div>
                </div>

                <div class="col-lg-10 mx-auto">
                    <div class="card mb-4">
                        <div class="card-body">
                            <% if (product) { %>
                            <form method="post" action="/admin/editProduct/<%= product._id %>" enctype="multipart/form-data" onsubmit="return validateAndSubmit()">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Product Name</label>
                                    <input type="text" placeholder="Type here" name="productName" value="<%= product.name %>" class="form-control" id="product_name">
                                    <div id="productName-error" class="error-message"></div>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    <textarea placeholder="Type here" id="descriptionid" name="description" class="form-control" rows="4"><%= product.description %></textarea>
                                    <div id="description-error" class="error-message"></div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-4">
                                        <label class="form-label">Regular Price</label>
                                        <input placeholder="₹" name="regularPrice" type="text" class="form-control" value="<%= product.regularPrice %>">
                                        <div id="regularPrice-error" class="error-message"></div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="form-label">Sale Price</label>
                                        <input placeholder="₹" name="salePrice" type="text" class="form-control" value="<%= product.salesPrice %>">
                                        <div id="salePrice-error" class="error-message"></div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="form-label">Quantity</label>
                                        <input placeholder="kg" name="quantity" type="text" class="form-control" value="<%= product.quantity %>">
                                        <div id="quantity-error" class="error-message"></div>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Color</label>
                                    <input name="color" type="text" value="<%= product.color %>" class="form-control border">
                                    <div id="color-error" class="error-message"></div>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Category</label>
                                    <select class="form-select" name="category">
                                        <% for(let i=0; i < cat.length; i++) { %>
                                        <option value="<%= cat[i]._id %>"><%= cat[i].name %></option>
                                        <% } %>
                                    </select>
                                    <div id="category-error" class="error-message"></div>
                                </div>
                                <div class="card mb-4">
                                    <div class="card-header">
                                      <h4>Edit Product Images</h4>
                                    </div>
                                    <div class="thumbnails-container">
                                      <% if (product.images && product.images.length > 0) { %>
                                      <% for (let i = 0; i < product.images.length; i++) { %>
                                      <div class="thumbnail-container">
                                        <div class="thumbnail">
                                          <!-- Ensure the image path is correct -->
                                          <img src="/<%= product.images[i] %>" alt="Product Image" id="productImg<%= i %>">
                                        </div>
                                        <div class="input-upload">
                                          <input type="file" accept="image/webp, image/jpeg, image/jpg" onchange="replaceImage(event, '<%= product.images[i] %>','<%= i %>')">
                                        </div>
                                        <div class="image-cropper-container" id="cropperContainer<%= i %>">
                                          <div class="image-cropper">
                                            <img src="" id="cropperImg<%= i %>" alt="">
                                          </div>
                                          <div class="btn-container">
                                            <button type="button" id="saveButton<%= i %>" class="btn btn-sm btn-primary mt-2">Save</button>
                                          </div>
                                        </div>
                                      </div>
                                      <% } %>
                                      <% } else { %>
                                      <p class="text-center">No images found</p>
                                      <% } %>
                                    </div>
                                  </div>
                                <div class="d-flex justify-content-between">
                                    <button type="submit" class="btn btn-md btn-danger">Save Changes</button>
                                    <a href="/admin/products" class="btn btn-secondary">Cancel</a>
                                </div>
                            </form>
                            <% } else { %>
                            <p>Product not found.</p>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include("../../views/admin/partials/footer") %>
    <script src="https://cdn.jsdelivr.net/npm/cropperjs/dist/cropper.min.js"></script>
    <script>
        let currentCropper = null;

        function validateAndSubmit() {
            return validateForm();
        }

        function replaceImage(event, imageName, index) {
            const input = event.target;
            const file = input.files[0];
            const reader = new FileReader();
            input.name = `replace_${imageName}`;

            reader.onload = function(e) {
                const imgElement = document.getElementById(`cropperImg${index}`);
                imgElement.src = e.target.result;

                const cropperContainer = document.getElementById(`cropperContainer${index}`);
                cropperContainer.style.display = 'flex';

                if (currentCropper) {
                    currentCropper.destroy();
                }

                currentCropper = new Cropper(imgElement, {
                    aspectRatio: 1,
                    viewMode: 2,
                    guides: true,
                    background: false,
                    autoCropArea: 1,
                    zoomable: true
                });

                const saveButton = document.getElementById(`saveButton${index}`);
                saveButton.addEventListener('click', async function() {
                    const croppedCanvas = currentCropper.getCroppedCanvas();
                    const productImg = document.getElementById(`productImg${index}`);
                    productImg.src = croppedCanvas.toDataURL('image/webp', 1.0);
                    const timestamp = new Date().getTime();
                    const fileName = `cropped-img-${timestamp}-${index}.webp`;

                    await croppedCanvas.toBlob(blob => {
                        const imgFile = new File([blob], fileName, { type: 'image/webp' });
                        const dataTransfer = new DataTransfer();
                        dataTransfer.items.add(imgFile);
                        input.files = dataTransfer.files;
                    });

                    cropperContainer.style.display = 'none';
                    currentCropper.destroy();
                    currentCropper = null;
                }, { once: true });
            };

            reader.readAsDataURL(file);
        }

        function validateForm() {
        clearErrorMessages();
        const name = document.getElementsByName('productName')[0].value;
        const description = document.getElementById('descriptionid').value;
        const salesPrice = document.getElementsByName('salePrice')[0].value;
        const regularPrice = document.getElementsByName('regularPrice')[0].value;
        const category = document.getElementsByName('category')[0].value;
        const quantity = document.getElementsByName('quantity')[0].value;
        let isValid = true;

        if (name.trim() === "") {
            displayErrorMessage('productName-error', 'Please enter a product name.');
            isValid = false;
        } else if (!/^[a-zA-Z\s]+$/.test(name.trim())) {
            displayErrorMessage('productName-error', 'Product name should contain only alphabetic characters.');
            isValid = false;
        }

        if (description.trim() === "") {
            displayErrorMessage('description-error', 'Please enter a product description.');
            isValid = false;
        } // Removed the alphabetic characters validation for description

        if (!/^\d+(\.\d{1,2})?$/.test(quantity) || parseFloat(quantity) < 0) {
            displayErrorMessage('quantity-error', 'Please enter a valid non-negative quantity.');
            isValid = false;
        }

        if (!/^\d+(\.\d{1,2})?$/.test(regularPrice) || parseFloat(regularPrice) < 0) {
            displayErrorMessage('regularPrice-error', 'Please enter a valid non-negative price.');
            isValid = false;
        }

        if (!/^\d+(\.\d{1,2})?$/.test(salesPrice) || parseFloat(salesPrice) < 0 || parseFloat(salesPrice) >= parseFloat(regularPrice)) {
            displayErrorMessage('salePrice-error', 'Please enter a valid non-negative sale price lower than the original price.');
            isValid = false;
        }

        if (category.trim() === "") {
            displayErrorMessage('category-error', 'Please select a category.');
            isValid = false;
        }

        return isValid;
    }

    function displayErrorMessage(elementId, message) {
        const errorElement = document.getElementById(elementId);
        errorElement.innerText = message;
        errorElement.style.display = "block";
    }

    function clearErrorMessages() {
        const errorElements = document.getElementsByClassName('error-message');
        Array.from(errorElements).forEach(element => {
            element.innerText = '';
        });
    }
    </script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</body>

</html>