<%- include("../../views/user/partials/header") %>

<!--=============== MAIN ===============-->
<main class="main">
    <!--=============== BREADCRUMB ===============-->
    <section class="breadcrumb">
      <ul class="breadcrumb__list flex container">
        <li><a href="/home" class="breadcrumb__link">Home</a></li>
        <li><span class="breadcrumb__link"></span>></li>
        <li><span class="breadcrumb__link">Shop</span></li>
      </ul>
    </section>

    <!--=============== PRODUCTS ===============-->
    <section class="products container section--lg">
      <p class="total__products">We found <span><%= products.length %></span> items for you!</p>
      <div class="products__container grid">

        <% for(let i = 0; i < products.length ; i++){ %>

        <div class="product__item">
          <div class="product__banner">
            <a href="/productDetails?id=<%= products[i]._id %>" class="product__images">
              <img
                src="<%= products[i].images[0] %>"
                alt="<%= products[i].name %>"
                class="product__img default"
              />
              <img
                src="<%= products[i].images[1] %>"
                alt="<%= products[i].name %>"
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="/productDetails?id=<%= products[i]._id %>" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a
                href="/addToWishlist?id=<%= products[i]._id %>"
                class="action__btn"
                aria-label="Add to Wishlist"
              >
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
            <div class="product__badge light-green">Hot</div>
          </div>
          <div class="product__content">
            <span class="product__category"><%= products[i].brand %></span>
            <a href="details.html">
              <h3 class="product__title"><%= products[i].name %></h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">₹<%= products[i].combos[0].salesPrice %></span>
              <span class="old__price">₹<%= products[i].combos[0].regularPrice %></span>
            </div>
            <a
              href="/addToCart?id=<%= products[i]._id %>"
              class="action__btn cart__btn"
              aria-label="Add To Cart"
            >
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
        <% } %>
      </div>
        
      <ul class="pagination">
        <% if (currentPage > 1) { %>
          <a href="?<%= new URLSearchParams({ page: currentPage - 1 }) %>">&laquo; Previous</a>
        <% } %>
        <% for (let i = 1; i <= totalPages; i++) { %>
          <a 
            href="?<%= new URLSearchParams({ page: i }) %>" 
            class="<%= i === currentPage ? 'pagination__link active' : 'pagination__link ' %>">
            <%= i %>
          </a>
        <% } %>
        <% if (currentPage < totalPages) { %>
          <a href="?<%= new URLSearchParams({ page: currentPage + 1 }) %>">Next &raquo;</a>
        <% } %>
        
        <li>
          <a href="#" class="pagination__link icon">
            <i class="fi-rs-angle-double-small-right"></i>
          </a>
        </li>
      </ul>
    </section>

    <!--=============== NEWSLETTER ===============-->
    <section class="newsletter section">
      <div class="newsletter__container container grid">
        <h3 class="newsletter__title flex">
          <img
            src="./assets/img/icon-email.svg"
            alt=""
            class="newsletter__icon"
          />
          Sign in to Newsletter
        </h3>
        <p class="newsletter__description">
          ...and receive $25 coupon for first shopping.
        </p>
        <form action="" class="newsletter__form">
          <input
            type="text"
            placeholder="Enter Your Email"
            class="newsletter__input"
          />
          <button type="submit" class="newsletter__btn">Subscribe</button>
        </form>
      </div>
    </section>
  </main>
<%- include("../../views/user/partials/footer") %>